---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const allPosts = await getCollection("posts");
---

<Layout title="LOD - Posts">
  <main>
    <h2>Posts</h2>
    <hr />
    <ul>
      {
        allPosts
        .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
        .map((post) => (
        <li>
          <a href={`/posts/${post.id}/`} data-astro-prefetch>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    padding-left: 1rem;
  }

  li {
    padding: 4px 0;
  }

  .author {
    font-size: 0.8rem;
    color:darkslategrey;
  }

  @media (prefers-color-scheme: dark) {
    .author {
      color:ghostwhite;
    }
</style>
