---
import Layout from "../layouts/Layout.astro";

const commandments = [
  {
    title: "Fitness is good for you",
    lesson:
      "It's good for the body, it's good for your mind. So find a way to exercise at least 4x/week.",
  },
  {
    title: "Get going",
    lesson:
      "Don't worry about finding the perfect program. It's better to start and course correct than do endless research.",
  },
  {
    title: "Little > nothing",
    lesson:
      "Small sessions can bring noticeable progress. Don't underestimate how much better 10 minutes is than doing nothing.",
  },
  {
    title: "Pick when to go hard",
    lesson:
      "There's a time and place for tough workouts but optimise for longevity. Injuries are the biggest progress killer.",
  },
  {
    title: "Move well",
    lesson:
      "Don't chase numbers before form and control. Learn the basics well.",
  },
  {
    title: "Value mobility",
    lesson: "This has many knock-on positives and is key to 'moving well'.",
  },
  {
    title: "Be wary of shortcuts",
    lesson:
      "The exercise industry has many gurus selling methods and products. There is no substitute for simple workouts, sleep and balanced meals.",
  },
  {
    title: "Commitment > motivation",
    lesson: "Motivation comes and goes. Commitments mean something.",
  },
];
---

<Layout title="LOD - Fitness">
  <main>
    <h2>Fitness</h2>
    <hr />
    <p>
      I've been exercising 6 days a week since I was 15. During periods of more
      serious training I did two-a-days. This means I've done over &gt;7k
      training sessions and consequently have formed some opinions. My first
      startup <a href="https://squaddy.app">Squaddy</a> is a fitness app so it's
      a subject close to my heart.
    </p>
    <h3>Personal bests</h3>
    <table>
      <tr>
        <th>Exercise</th>
        <th>Score</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>5k run</td>
        <td>18:52</td>
        <td>26</td>
      </tr>
      <tr>
        <td>2k row</td>
        <td>06:11</td>
        <td>19</td>
      </tr>
      <tr>
        <td>100m swim</td>
        <td>01:16</td>
        <td>28</td>
      </tr>
      <tr>
        <td>Back squat</td>
        <td>180kg</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Deadlift</td>
        <td>220kg</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Bench Press</td>
        <td>120kg</td>
        <td>23</td>
      </tr>
      <tr>
        <td>Snatch</td>
        <td>90kg</td>
        <td>31</td>
      </tr>
      <tr>
        <td>Clean & Jerk</td>
        <td>120kg</td>
        <td>31</td>
      </tr>
    </table>
    <h3>Fitness Pointers</h3>
    <ol>
      {
        commandments.map((comm) => (
          <li>
            <strong class="command-title">{comm.title}:</strong>
            <span>{comm.lesson}</span>
          </li>
        ))
      }
    </ol>
    <h3>Rowing: How it started (2005-2012)</h3>
    <p>
      I was hopeless at exercise as a kid. I had asthma and hated the heavy
      feeling on my lungs whenever I pushed myself; I gave up if it didn't come
      easy. When I turned 16 I got into rowing. Like other sports I'd tried I
      wasn't enthused and wanted to quit but my coaches and teammates insisted I
      stuck at it. Why did I listen? Rowing builds a unique level of
      cameraderie. You go out onto the water as a unit, if you don't pull your
      weight, the whole boat fails. It was the first time I worked towards
      anything and I didn't want to let everyone down.
    </p>
    <p>
      To my suprise I started to get faster. This was the first time in my life
      I made the connection between effort and results - not just in sport but
      in any discipline. Before then I believed in 'natural talent' and assumed
      if I wasn't good, I couldn't improve. Rowing built my faith in 'the
      process,' which I took into my studies and career. It was a commitment I
      badly needed. It changed my life and formed the cornerstone for most
      success I've had since.
    </p>
    <p>
      I had a fair bit of success in rowing. I raced 5x at Henley, making it to
      the quarter finals twice. I got to final trials for the GB junior squad
      and initial selection for the U23 squad. I wanted to go to the Olympics
      but that dream suddenly fell away. Pursuing that would have meant 3x
      sessions per day and I didn't want my world to shrink so much. It had got
      too serious and I'd lost the joy of it; without that burning ambition
      driving me on I stopped.
    </p>
    <h3>Triathlon: Escape from the weightroom (2012-2018)</h3>
    <p>
      My brother got me to do a triathlon with him for fun. I came 12th and
      thought 'I could be okay at this.' Post rowing I'd gotten very into
      weights but picked up two injuries: a herniated a disc and knee
      tendonitis. Triathlon gave my joints a break and helped my back heal. It's
      a solitary sport; lots of solo miles on the bike, in the park and in the
      pool can be quite meditative. It was good to do whilst building a career.
      Strangely I never did much better than the first tri. I got down to my
      lightest here, at about 81kg.
    </p>
    <h3>CrossFit: Embrace the chaos (2018-2023)</h3>
    <p>
      My friend Patrice got me intro CrossFit. I'd heard about it and watched
      the Netflix docs but hadn't taken the leap. From my first session I was
      hooked and signed up. If you've never done it you should give it a go. The
      blend of varied movements, clear goals and a class full of people is
      special. I made good progress here, getting all the gymnastic movements
      within a year and improving my olympic lifts. I never had any notable
      results in competition though. I'm just not strong enough and CrossFit is
      really a strong person's game. I can't get that strong without something
      breaking.
    </p>
    <h3>Early middle age: Choosing my own path (2023 - now)</h3>
    <p>
      These days I'm focusing on <a href="https://functional-bodybuilding.com/"
        >functional bodybuilding</a
      >, developing my engine and keeping mobile. I'm still doing 6 sessions per
      week but feel much better than during peak CrossFit. It's easier to fit
      training in alongside work and fatherhood without putting pressure on
      myself to be competitive. I spent too much of my twenties training too
      hard for competition results or PB numbers that didn't merit the effort.
      Now I can use exercise for catharsis, meditation and health.
    </p>
  </main>
</Layout>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  ol {
    padding-left: 1rem;
  }

  li {
    margin: 0.5rem 0;
  }

  .command-title {
    color: seagreen;
  }
</style>
