---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Home">
  <main>
    <img src="lucienSqr.jpeg" alt="A picture of me" />
    <p>
      Welcome! I work on software products from a bunch of different angles but
      principally as a product owner. I'm an amateur web dev, drive-by data
      scientist and wannabe designer.
    </p>
    <p>
      My most significant professional milestone has been co-founding <a
        href="https://squaddy.app">Squaddy</a
      > with my good friend Tom. I'm in the process of writing up the journey <a
        href="/posts">here</a
      >. We continue to support Squaddy and are working on new ideas together
      that I will link to soon.
    </p>
    <p>I live in the UK and am very curious about:</p>
    <ul>
      <li>Building technology companies</li>
      <li>Consumer psychology</li>
      <li>Great salespeople/dealmakers</li>
      <li>Resisting feature creep</li>
      <li>Effective writing</li>
      <li>Shipping software fast</li>
      <li>UX/UI design</li>
      <li>Why government IT projects are often so slow</li>
      <li>Maths history</li>
    </ul>
    <h4>Getting in touch</h4>
    <p>
      If you want to talk, send me an email. I'll reply if it's not spammy.
      <a href="mailto:117lcod@gmail.com">117lcod@gmail.com</a>
    </p>
  </main>
</Layout>

<style>
  main {
    margin: 1rem 0;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  img {
    height: 130px;
    width: 130px;
    border-radius: 5%;
  }
  ul {
    padding-left: 1rem;
  }
</style>
