---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import lucienSqrSml from "../assets/lucienSqrSml.webp";
---

<Layout title="LOD - Home">
  <main>
    <article>
      <Image src={lucienSqrSml} priority alt="A picture of me" />
      <p>
        I work at the intersection of code, AI, defence, accounting, data. Always learning, always trying to ship faster. I'm currently helping build <a href="https://cloudsecure.ltd">Cloudsecure</a>.
      </p>
      <p>I live in blighty and am curious about:</p>
      <ul>
        <li>Building companies</li>
        <li>What makes people buy things</li>
        <li>Great salespeople/dealmakers</li>
        <li>Resisting feature creep</li>
        <li>Clear writing</li>
        <li>Shipping software fast</li>
        <li>UX/UI design</li>
        <li>Why government IT projects are often so slow</li>
        <li>AI ops automation</li>
      </ul>
    </article>
  </main>
</Layout>

<style>
  main {
    margin: 1rem 0;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  img {
    height: 130px;
    width: 130px;
    border-radius: 5%;
  }
  ul {
    padding-left: 1rem;
  }
</style>
