---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Links">
  <main>
    <h2>Links</h2>
    <p>A List of the best things I've found each month</p>
    <hr />
    <h4>October 2025</h4>
    <p>
      <a href="https://bleuje.com/animationsite/">Abstract gif animations</a>
    </p>
    <p>
      <a href="https://pmarchive.com/guide_to_personal_productivity.html"
        >Pmarca personal prod</a
      >
    </p>
    <p>
      <a href="https://simonwillison.net/2025/Jun/16/the-lethal-trifecta/"
        >The lethal trifecta (LLM security)</a
      >
    </p>
    <p>
      <a href="https://mathacademy.com/pedagogy">Math Academy Pedagogy</a>
    </p>
    <h4>August 2025</h4>
    <p>
      <a href="https://news.ycombinator.com/item?id=41034297"
        >Solving the out-of-context chunk problem for RAG</a
      >
    </p>
    <p>
      <a href="https://jakub.kr/components/oklch-colors"
        >What are OKLCH colors?</a
      >
    </p>
    <h4>July 2025</h4>
    <p>
      <a href="https://bagerbach.com/blog/how-i-use-claude-code/"
        >How I use Claude Code</a
      >
    </p>
    <p>
      <a href="https://github.com/tokenbender/agent-guides">Agent Guides</a>
    </p>
    <p>
      <a
        href="https://www.mathsisfun.com/algebra/quadratic-equation-real-world.html"
        >Quadratic Equations in the Real World</a
      >
    </p>
    <p>
      <a href="https://www.youtube.com/watch?v=EWvNQjAaOHw&t"
        >How I use LLMs - Karpathy</a
      >
    </p>
    <p>
      <a
        href="https://stackoverflow.com/questions/5967564/form-inside-a-table/5967613"
        >forms inside tables</a
      >
    </p>
    <h4>June 2025</h4>
    <p>
      <a href="https://grugbrain.dev">The Grug Brained Developer</a>
    </p>
    <p>
      <a href="https://x.com/karpathy/status/1935518272667217925"
        >Karpathy's Ai startup school talk</a
      >
    </p>
    <p>
      <a href="https://www.fastht.ml/docs/tutorials/by_example.html"
        >Fast HTML</a
      >
    </p>
    <p>
      <a href="https://gitingest.com/">gitingest</a>
    </p>
    <h4>May 2025</h4>
    <p>
      <a href="https://every-layout.dev/rudiments/boxes/">Every Layout - CSS</a>
    </p>
    <p>
      <a
        href="https://www.construction-physics.com/p/how-japan-invented-modern-shipbuilding"
        >How Japan invented modern shipbuilding</a
      >
    </p>
    <h4>December 2024</h4>
    <p><a href="https://crushcrime.org">Crush Crime</a></p>
    <h4>November 2024</h4>
    <p>
      <a href="https://world.hey.com/dhh/the-spells-are-spent-beaa675b"
        >DHH - good riddance</a
      >
    </p>
    <p>
      <a href="https://x.com/KonstantinKisin/status/1854151133385613690"
        >Kisin Tweet</a
      >
    </p>
    <h4>October 2024</h4>
    <p>
      <a
        href="https://www2.math.uconn.edu/~stein/virtual/Notes/differentiation.html"
        >Calculating Derivatives</a
      >
    </p>
    <p>
      <a href="https://science.nasa.gov/ems/">NASA series on the EM spectrum</a>
    </p>
    <h4>September 2024</h4>
    <p>
      <a
        href="https://www.grc.nasa.gov/www/k-12/Numbers/Math/Mathematical_Thinking/fermis_piano_tuner.htm"
        >Fermi's Pinao Tuner problem</a
      >
    </p>
    <p>
      <a
        href="https://drive.google.com/file/d/1YaG9xpu-WQKBPUi8yQ4HaDYQLUSa7Y3J/view"
        >Working at Mr Beast</a
      >
    </p>
    <p>
      <a href="https://ukfoundations.co"
        >Foundations: Why Britain has stagnated</a
      >
    </p>
    <h4>August 2024</h4>
    <p>
      <a href="https://sites.prh.com/modern-library-top-100"
        >100 Best modern english novels & non-fiction books (1998)</a
      >
    </p>
    <p>
      <a href="https://spectrum.ieee.org/fitbit">The First Fitbit</a>
    </p>
    <p>
      <a href="https://fs.blog/david-foster-wallace-this-is-water/"
        >This is water ~ David Foster Wallace</a
      >
    </p>
    <p>
      <a href="https://benlo.com/visicalc/">Visicalc - The Early Days</a>
    </p>
    <p>
      <a href="https://urchin.biz/urchin-software-corp-89a1f5292999"
        >Urchin Software Corp. Origins</a
      >
    </p>
    <h4>July 2024</h4>
    <p>
      <a href="https://x.com/RichardMCNgo/status/1819400985569329350"
        >Far-left</a
      >
    </p>
    <p>
      <a href="https://www.hackingwithswift.com/100/swiftui"
        >100 days of SwiftUI</a
      >
    </p>
    <p>
      <a href="https://phauer.com/2020/package-by-feature/"
        >Package by feature</a
      >
    </p>

    <h4>June 2024</h4>
    <p>
      <a href="https://x.com/destraynor/status/1258372157706510336"
        >Writing like an Amazonian</a
      >
    </p>
    <p><a href="https://tegowerk.eu/posts/bicycle-repair/">Fix your bike</a></p>
    <h4>May 2024</h4>
    <p>
      <a href="https://github.com/bobeff/programming-math-science"
        >Math and Science resources (free)</a
      >
    </p>
    <p>
      <a
        href="https://thecreativeindependent.com/people/adam-curtis-on-the-dangers-of-self-expression/"
        >Dangers of self-expression (Adam Curtis)</a
      >
    </p>
    <p>
      <a href="https://tonsky.me/blog/js-bloat/">Javascript Bloat in 2024</a>
    </p>
    <h4>April 2024</h4>
    <p>
      <a
        href="https://futureweekly2050.substack.com/p/conversation-with-casey-handmer-how"
        >Casey Handmer speaking re Terraform Industries</a
      >
    </p>
    <p>
      <a
        href="https://www.manifold1.com/episodes/russell-clark-japan-china-and-usd-reserve-status-56"
        >Manifold Podcast: Japan, China, USD reserve status</a
      >
    </p>
    <p>
      <a
        href="https://fs.blog/great-talks/guarantee-life-misery-charlie-munger/"
        >Charlie Munger: How to guarantee a life of misery</a
      >
    </p>
    <h4>March 2024</h4>
    <p>
      <a href="https://www.youtube.com/watch?v=4lx9Wtd2P48"
        >Susan Kare: talk on design</a
      >
    </p>
    <p>
      <a
        href="https://www.palladiummag.com/2024/03/01/the-first-world-government/"
        >The First World Government</a
      >
    </p>
    <h4>February 2024</h4>
    <p>
      <a
        href="https://www.researchgate.net/publication/228797158_How_complex_systems_fail"
        >How complex systems fail</a
      >
    </p>
    <p>
      <a href="https://twitter.com/SahilBloom/status/1581260995153911809"
        >More cold emails</a
      >
    </p>
    <p><a href="https://danwang.co">Dan Wang's 2023 letter</a></p>
    <p>
      <a
        href="https://www.thenewatlantis.com/publications/do-elephants-have-souls"
        >Do elephants have souls?</a
      >
    </p>
    <h4>January 2024</h4>
    <p>
      <a
        href="https://berkshirehathaway.com/SpecialLetters/CTM%20past%20present%20future%202014.pdf"
        >Running Berkshire Hathaway</a
      >
    </p>
    <p>
      <a href="https://dominiccummings.substack.com/p/tolstoy"
        >Cummings on Tolstoy</a
      >
    </p>
    <h4>December 2023</h4>
    <p>
      <a
        href="https://cs.stanford.edu/people/karpathy/advice.html"
        target="_blank">How to study (undergrad)</a
      > - Andrej Karpathy
    </p>
    <p>
      <a
        href="https://caseyhandmer.wordpress.com/2023/08/25/you-should-be-working-on-hardware/"
        target="_blank">You should be working on hardware</a
      > - Casey Handmer
    </p>
    <p>
      <a
        href="https://caseyhandmer.wordpress.com/2023/08/16/how-to-produce-green-hydrogen-for-1-kg/"
        target="_blank">How to produce green hydrogen for $1/kg</a
      > - Casey Handmer
    </p>
    <p>
      <a
        href="https://dominiccummings.substack.com/p/how-to-help-parents-and-teachers"
        target="_blank">Help give your kids a better education</a
      > - Dominic Cummings
    </p>
    <p>
      <a
        href="https://terraformindustries.wordpress.com/2023/01/09/terraform-industries-whitepaper-2-0/"
        target="_blank">Whitepaper 2.0</a
      > - Terraform Industries
    </p>
    <p>
      <a
        href="https://world.hey.com/dhh/inspiration-is-perishable-f2c8652e"
        target="_blank">Inspiration is perishable</a
      > - DHH
    </p>
    <p>
      <a href="https://jsomers.net/blog/speed-matters" target="_blank"
        >Speed matters</a
      > - J Somers
    </p>
    <p>
      <a href="https://patrickcollison.com/bookshelf" target="_blank"
        >Bookshelf</a
      > - Patrick Collison
    </p>
    <p>
      <a
        href="https://twitter.com/sriramk/status/1214278839490105344"
        target="_blank">Emailing CEOs etc</a
      > - Sriram Krishnan
    </p>
    <p>
      <a
        href="https://www.runandbecome.com/running-training-advice/low-heart-rate-training"
        target="_blank">Low heart rate training</a
      > - Run and become
    </p>
  </main>
</Layout>
