---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Links">
  <main>
    <h2>Links</h2>
    <p>A List of the best things I've found each month</p>
    <hr />
    <h4>January 2024</h4>
    <p>
      <a
        href="https://berkshirehathaway.com/SpecialLetters/CTM%20past%20present%20future%202014.pdf"
        >Running Berkshire Hathaway</a
      >
    </p>
    <p>
      <a href="https://dominiccummings.substack.com/p/tolstoy"
        >Cummings on Tolstoy</a>
    </p>
    <h4>December 2023</h4>
    <p>
      <a
        href="https://cs.stanford.edu/people/karpathy/advice.html"
        target="_blank">How to study (undergrad)</a
      > - Andrej Karpathy
    </p>
    <p>
      <a
        href="https://caseyhandmer.wordpress.com/2023/08/25/you-should-be-working-on-hardware/"
        target="_blank">You should be working on hardware</a
      > - Casey Handmer
    </p>
    <p>
      <a
        href="https://caseyhandmer.wordpress.com/2023/08/16/how-to-produce-green-hydrogen-for-1-kg/"
        target="_blank">How to produce green hydrogen for $1/kg</a
      > - Casey Handmer
    </p>
    <p>
      <a
        href="https://dominiccummings.substack.com/p/how-to-help-parents-and-teachers"
        target="_blank">Help give your kids a better education</a
      > - Dominic Cummings
    </p>
    <p>
      <a
        href="https://terraformindustries.wordpress.com/2023/01/09/terraform-industries-whitepaper-2-0/"
        target="_blank">Whitepaper 2.0</a
      > - Terraform Industries
    </p>
    <p>
      <a
        href="https://world.hey.com/dhh/inspiration-is-perishable-f2c8652e"
        target="_blank">Inspiration is perishable</a
      > - DHH
    </p>
    <p>
      <a href="https://jsomers.net/blog/speed-matters" target="_blank"
        >Speed matters</a
      > - J Somers
    </p>
    <p>
      <a href="https://patrickcollison.com/bookshelf" target="_blank"
        >Bookshelf</a
      > - Patrick Collison
    </p>
    <p>
      <a
        href="https://twitter.com/sriramk/status/1214278839490105344"
        target="_blank">Emailing CEOs etc</a
      > - Sriram Krishnan
    </p>
    <p>
      <a
        href="https://www.runandbecome.com/running-training-advice/low-heart-rate-training"
        target="_blank">Low heart rate training</a
      > - Run and become
    </p>
  </main>
</Layout>
