---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Links">
  <main>
    <h2>Projects</h2>
    <p>A list of things I've worked on or am actively involved with</p>
    <hr />
    <h4>Websites</h4>
    <p>
      Building websites mixes the technical and creative in a way I find
      relaxing. Most of these are built with Astro, Tailwind and Alpine but
      there are some Next.js ones in the mix too. I host them all on Vercel or
      Netlify and do my design in Figma.
    </p>
    <p>
      <a href="https://squaddy.app">Squaddy landing page</a>
    </p>
    <p>
      <a href="https://goldenera.squaddy.app">'Golden Era' workout finder</a>
    </p>
    <p><a href="https://squaddy.app/schools">Squaddy for schools</a></p>
    <p>
      <a href="https://amazing-rabanadas-7b0b3f.netlify.app"
        >Swim club redesign</a
      >
    </p>
    <p>
      <a href="https://wondrous-dolphin-b2df9b.netlify.app">
        'Weasel' programming framework</a
      >
    </p>
    <p>
      <a href="https://chic-croquembouche-06f6ce.netlify.app/"
        >Red Arrows Trust</a
      >
    </p>
    <h4>Products</h4>
    <em>The Workout Projektt</em>
    <hr />
    <p>
      This was my first product. The premise was simple: build a platform that
      let athletes/coaches/influencers sell workout programs to their followers.
    </p>
  </main>
</Layout>
