---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Quotes">
  <main>
    <h2>Quotes</h2>
    <hr />
    <p>
      <em
        >"Behind readiness to anticipate insult lies a fear of deserving
        ridicule"</em
      > ~ Alain De Boton
    </p>
    <p>
      <em
        >"A commentary on a book written by someone else, though technically
        laborious to produce… is immune from the most cruel attacks that can
        befall original works."</em
      > ~ de Montaigne
    </p>
    <p>
      <em
        >"A man may appear to the world as a marvel: yet his wife and his
        manservant see nothing remarkable about him. Few men have been wonders
        to their families"</em
      > ~ de Montaigne
    </p>
    <p>
      <em>
        “The most fulfilling human projects appeared inseparable from a degree
        of torment."
      </em> ~ Nieztche
    </p>
    <p>
      <em>
        "All human achievement must also be accomplished by mammals and this
        realisation puts us in a useful spot. It strongly suggests that anyone
        could do what the heroes have done."
      </em> ~ Christopher Hitchens
    </p>
    <p>
      <em
        >“It’s quite useless to discuss questions of age with old people, they
        have such peculiar ideas on the subject. ‘Not really old at all, only
        seventy’, you hear them saying, or ‘quite young, younger than me, not
        much more than forty.’ At eighteen this seems great nonsense, though
        now, at the more advanced age which I have reached, I am beginning to
        understand what it all meant."</em
      > ~ Nancy Mitford (The Pursuit of Love)
    </p>
    <p>
      <em>"What I fear is not the enemy's strategy, but our own mistakes"</em> ~
      Pericles
    </p>
    <p>
      <em>"Hurry at the beginning will mean delay at the end"</em> ~ Pericles
    </p>
    <p>
      <em
        >“Paradoxically, it is much more difficult to design a general-purpose
        tool than it is to design a special-purpose tool, precisely because one
        has to assign weights to the differing needs of diverse users.”</em
      > ~ Fred Brooks
    </p>
    <p>
      <em>
        "If it was a bad idea, even a perfectly executed test wasn’t going to
        make it into a good idea. But if it was a good idea, then customers
        immediately resonated with it, no matter how broken, difficult, or
        poorly executed the test was."
      </em> ~ Marc Randolph
    </p>
    <p>
      <em
        >"One should never regret one's excesses, only one's failures of nerve"</em
      > ~ Iain M. Banks (The Hydrogen Sonata)
    </p>
    <p>
      <em
        >“To be without some of the things you want is an indispensable part of
        happiness.”
      </em> ~ Bertrand Russell
    </p>
    <p>
      <em
        >"The kind of justice to be expected as a result of envy is likely to be
        the worst possible kind, namely that which consists rather in
        diminishing the pleasures of the fortunate than increasing those of the
        unfortunate"</em
      > ~ Bertrand Russell
    </p>
    <p>
      <em
        >"To separate operational from administrative responsibility is to break
        a rule that I have never seen violated without someone paying a heavy
        penalty.”</em
      > ~ Viscount Slim
    </p>
    <p>
      <em
        >"We are where we are because of the things we have done. We must
        therefore do different things."</em
      > ~ John Hoskyns
    </p>
    <p>
      <em
        >"Failure is less often attributable to insufficiency of means or
        impatience of labour than to a confused understanding of the thing
        actually to be done."</em
      > ~ John Hoskyns
    </p>
    <p>
      <em
        >"There’s this idea that machines are us - a reflection of our dreams, a
        repository of our memories, that they are alive, an echo of our
        consciousness developing their own."</em
      > ~ Douglas Coupland (Microserfs)
    </p>
    <p>
      <em
        >"People don't buy a set of features, they buy a better version of
        themselves."</em
      > ~ variously attributed
    </p>
    <p><em>"Describe the tongue of the woodpecker."</em> ~ Da Vinci</p>
    <p>
      <em
        >"Having to retrofit internationalization or scalability is a pain,
        certainly. The only bigger pain is not needing to, because your initial
        version was too big and rigid to evolve into something users wanted."</em
      > ~ Paul Graham
    </p>
    <p>
      <em
        >"At the end of the term I took my first schools; it was necessary to
        pass, if I was to remain at Oxford, and pass I did, after a week in
        which I forbade Sebastian my rooms and sat up to a late hour, with iced
        black coffee and charcoal biscuits, cramming myself with the neglected
        texts. I remember no syllable of them now, but the other, more ancient,
        lore which I acquired that term will be with me in one shape or another
        to my last hour."</em
      > ~ Evelyn Waugh (Brideshead Revisited)
    </p>
    <p>
      <em
        >“I know you have goals too… or your wouldn’t be reading my book, and I
        guarantee that if you audited your schedule you’d find time for more
        work and less bullshit”</em
      > ~ Dave Goggins
    </p>
    <p>
      <em
        >"Below the surface of the machine, the program moves. Without effort,
        it expands and contracts. In great harmony, electrons scatter and
        regroup. The forms on the monitor are but ripples on the water. The
        essence stays invisibly below."</em
      > ~ ?
    </p>
    <p>
      <em>"Beware of all enterprises that require new clothes.”</em> ~ Thoreau
    </p>
    <p>
      <em
        >"If personality is an unbroken series of successful gestures, then
        there was something gorgeous about him, some heightened sensitivity to
        the promises of life, as if he were related to one of those intricate
        machines that register earthquakes ten thousand miles away. This
        responsiveness had nothing to do with that flabby impressionability
        which is dignified under the name of the “creative temperament”—it was
        an extraordinary gift for hope, a romantic readiness such as I have
        never found in any other person and which it is not likely I shall ever
        find again"</em
      > ~ F. Scott Fitzgerald (The Great Gatsby)
    </p>
    <p>
      <em
        >"Though a program be but three lines long, someday it will have to be
        maintained."
      </em> ~ Xela
    </p>
    <p>
      <em
        >"I hold the Fates bound fast in iron chains, And with my hand turn
        Fortune’s wheel about; And sooner shall the sun fall from his sphere
        Than Tamburlaine be slain or overcome."</em
      > ~ Kit Marlowe (Tamburlaine the Great)
    </p>
    <p>
      <em
        >"My name is Ozymandias, King of Kings; Look on my Works, ye Mighty, and
        despair! Nothing beside remains. Round the decay Of that colossal Wreck,
        boundless and bare The lone and level sands stretch far away.”</em
      > ~ Percy Shelley (Ozymandias)
    </p>
  </main>
</Layout>
