---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LOD - Links">
  <main>
    <h2>Quotes</h2>
    <hr />
    <p>
      <em
        >"Behind readiness to anticipate insult lies a fear of deserving
        ridicule"</em
      > ~ Alain De Boton
    </p>
    <p>
      <em
        >"A commentary on a book written by someone else, though technically
        laborious to produce… is immune from the most cruel attacks that can
        befall original works."</em
      > ~ de Montaigne
    </p>
    <p>
      <em
        >"A man may appear to the world as a marvel: yet his wife and his
        manservant see nothing remarkable about him. Few men have been wonders
        to their families"</em
      > ~ de Montaigne
    </p>
    <p>
      <em>
        “The most fulfilling human projects appeared inseparable from a degree
        of torment."
      </em> ~ Nieztche
    </p>
    <p>
      <em>
        "All human achievement must also be accomplished by mammals and this
        realisation puts us in a useful spot. It strongly suggests that anyone
        could do what the heroes have done."
      </em> ~ Christopher Hitchens
    </p>
    <p>
      <em
        >“It’s quite useless to discuss questions of age with old people, they
        have such peculiar ideas on the subject. ‘Not really old at all, only
        seventy’, you hear them saying, or ‘quite young, younger than me, not
        much more than forty.’ At eighteen this seems great nonsense, though
        now, at the more advanced age which I have reached, I am beginning to
        understand what it all meant."</em
      > ~ Nancy Mitford
    </p>
    <p>
      <em>"What I fear is not the enemy's strategy, but our own mistakes"</em> ~
      Pericles
    </p>
    <p>
      <em>"Hurry at the beginning will mean delay at the end"</em> ~ Pericles
    </p>
    <p>
      <em
        >“Paradoxically, it is much more difficult to design a general-purpose
        tool than it is to design a special-purpose tool, precisely because one
        has to assign weights to the differing needs of diverse users.”</em
      > ~ Fred Brooks
    </p>
    <p>
      <em>
        "If it was a bad idea, even a perfectly executed test wasn’t going to
        make it into a good idea. But if it was a good idea, then customers
        immediately resonated with it, no matter how broken, difficult, or
        poorly executed the test was."
      </em> ~ Marc Randolph
    </p>
    <p>
      <em
        >"One should never regret one's excesses, only one's failures of nerve"</em
      > ~ Iain M. Banks
    </p>
    <p>
      <em
        >“To be without some of the things you want is an indispensable part of
        happiness.”
      </em> ~ Bertrand Russell
    </p>
    <p>
      <em
        >"The kind of justice to be expected as a result of envy is likely to be
        the worst possible kind, namely that which consists rather in
        diminishing the pleasures of the fortunate than increasing those of the
        unfortunate"</em
      > ~ Bertrand Russell
    </p>
    <p>
      <em
        >"To separate operational from administrative responsibility is to break
        a rule that I have never seen violated without someone paying a heavy
        penalty.”"</em
      > ~ Viscount Slim
    </p>
  </main>
</Layout>
