<nav>
  <h3>Lucien O</h3>
  <div>
    <a href="/">Home</a>
    <span>|</span>
    <a href="/projects">Projects</a>
    <span>|</span>
    <a href="/thoughts">Thoughts</a>
    <span>|</span>
    <a href="/fitness">Fitness</a>
    <span>|</span>
    <a href="/books">Books</a>
    <span>|</span>
    <a href="/quotes">Quotes</a>
    <span>|</span>
    <a href="/links">Links</a>
  </div>
</nav>
<style>
  nav {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }

  nav > a {
    margin: 0 2px;
  }
</style>
