<nav>
  <h3>Lucien O</h3>
  <div>
    <a href="/" data-astro-prefetch>Home</a>
    <span>|</span>
    <a href="/projects" data-astro-prefetch>Projects</a>
    <span>|</span>
    <a href="/posts" data-astro-prefetch>Posts</a>
    <span>|</span>
    <a href="/fitness" data-astro-prefetch>Fitness</a>
    <span>|</span>
    <a href="/books" data-astro-prefetch>Books</a>
    <span>|</span>
    <a href="/quotes" data-astro-prefetch>Quotes</a>
    <span>|</span>
    <a href="/links" data-astro-prefetch>Links</a>
  </div>
</nav>
<style>
  nav {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }

  nav > a {
    margin: 0 2px;
  }
</style>
