---
// The site title is the homepage's h1; elsewhere it's decorative.
const isHome = Astro.url.pathname === "/";
---

<nav>
  {
    isHome ? (
      <h1 class="site-title">Lucien O</h1>
    ) : (
      <span class="site-title">Lucien O</span>
    )
  }
  <div>
    <a href="/" data-astro-prefetch>Home</a>
    <span>|</span>
    <a href="/projects" data-astro-prefetch>Projects</a>
    <span>|</span>
    <a href="/posts" data-astro-prefetch>Posts</a>
    <span>|</span>
    <a href="/fitness" data-astro-prefetch>Fitness</a>
    <span>|</span>
    <a href="/books" data-astro-prefetch>Books</a>
    <span>|</span>
    <a href="/quotes" data-astro-prefetch>Quotes</a>
    <span>|</span>
    <a href="/links" data-astro-prefetch>Links</a>
    <span>|</span>
    <a href="/til" data-astro-prefetch>TIL</a>
    <span>|</span>
    <a href="/wall" data-astro-prefetch>Wall</a>
  </div>
</nav>
<style>
  .site-title {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin: 0;
    padding-block: 0.5rem;
  }
</style>
