---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Lucien O ~ Posts">
  <main>
    <p><a href="/posts">&lt;-- Back to posts</a></p>
    <h3>{frontmatter.title}</h3>
    <p>{frontmatter.date.toDateString()}</p>
    <hr />
    <slot />
  </main>
</Layout>
